@page "/lead/{id:Guid}/new-visit"
@using Softmad.Services.Models
@model AddVisitModel
@{
    ViewData["Title"] = "Add Visit";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <link rel="stylesheet" href="~/css/Shubh.css" />
    <script src="~/js/MultiStepForm.js"></script>
</head>


<div class="smd-heading-div">
    <h4>@ViewData["Title"]</h4>
</div>

<div class="form-container">
    <form method="post">
        <input type="hidden" asp-for="Visit.LeadId" />
        <div class="form-group">
            <label asp-for="Visit.VisitDate">Visit Date/Time</label>
            <input asp-for="Visit.VisitDate" class="form-control" type="datetime-local" />
            <span asp-validation-for="Visit.VisitDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Visit.Duration">Duration <sub>(in min)</sub></label>
            <input asp-for="Visit.Duration" class="form-control" type="number" />
            <span asp-validation-for="Visit.Duration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Visit.Remarks"></label>
            <textarea asp-for="Visit.Remarks" class="form-control"></textarea>
            <span asp-validation-for="Visit.Remarks" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Visit.VisitType">Visit Type</label>
            <select asp-for="Visit.VisitType" class="form-select">
                <option class="form-option" value=@VisitTypeEnum.FollowUp selected>
                    FollowUp
                </option>
                <option class="form-option" value=@VisitTypeEnum.TechnicalSupport>
                    Technical Support
                </option>
                <option class="form-option" value=@VisitTypeEnum.SalesPitch>
                    Sales Pitch
                </option>
                <option class="form-option" value=@VisitTypeEnum.Training>
                    Training
                </option>
                <option class="form-option" value=@VisitTypeEnum.Other>
                    Other
                </option>
            </select>
            <span asp-validation-for="Visit.VisitType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Visit.ClientFeedback">Client Feedback</label>
            <textarea asp-for="Visit.ClientFeedback" class="form-control"></textarea>
            <span asp-validation-for="Visit.ClientFeedback" class="text-danger"></span>
        </div>
        @* <div class="form-group">
        <label asp-for="Visit.Status">Visit Status</label>
        <select asp-for="Visit.Status" class="form-select">
        <option class="form-option" selected>-- Select Status--</option>
        <option class="form-option" value=@VisitStatusEnum.Pending>
        Pending
        </option>
        <option class="form-option" value=@VisitStatusEnum.Completed>
        Completed
        </option>
        <option class="form-option" value=@VisitStatusEnum.Cancelled>
        Cancelled
        </option>
        <option class="form-option" value=@VisitStatusEnum.Rescheduled>
        Rescheduled
        </option>
        </select>
        <span asp-validation-for="Visit.Status" class="text-danger"></span>
        </div> *@

        <div class="form-group">
            <label asp-for="Visit.Mode">Mode of Visit</label>
            <select asp-for="Visit.Mode" class="form-select">
                <option class="form-option" value=@VisitModeEnum.Offline selected>
                    Offline
                </option>
                <option class="form-option" value=@VisitModeEnum.Online>
                    Online
                </option>
            </select>
            <span asp-validation-for="Visit.Mode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Visit.NextSteps"> Next Steps</label>
            <textarea asp-for="Visit.NextSteps" class="form-control"></textarea>
            <span asp-validation-for="Visit.NextSteps" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

