@using Newtonsoft.Json
<head>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<div class="container my-5">
    <div class="row my-4 justify-content-center">
        <div class="col-auto">
            <button class="btn btn-primary fw-semibold mx-1" onclick="SelectReportJs(1)">Weekly Report</button>
            <button class="btn btn-primary fw-semibold mx-1" onclick="SelectReportJs(2)">Monthly Report</button>
        </div>
    </div>

    <div class="container my-5" style="justify-content:center;">
        <div class="row w-100" id="leadsStatusChart">
        </div>
        <div class="row w-100" id="monthchart" style="display: none;">
        </div>
    </div>

    <div class="row mys-4 overflow-x-auto" id="table">
        <ChartTableComponent TableBodyId="weekid" TableCaption="Past 7-Days Leads Status Report" TableData=@WeeklyData />
        <ChartTableComponent TableBodyId="monthid" TableCaption="Current Month Leads Status Report" TableData=@MonthData Display="none" />
    </div>
</div>

<script>
    var WeekChartElement = document.getElementById("leadsStatusChart");
    var WeekReportElement = document.getElementById("weekid");
    var MonthChartElement = document.getElementById("monthchart");
    var MonthReportElement = document.getElementById("monthid");
    WeekChartElement.style.minHeight = "150px !important;";
    MonthChartElement.style.minHeight = "150px !important;";

    function SelectReportJs(reporttype) {
        if (reporttype == 1) {
            WeekChartElement.style.display = "flex";
            MonthChartElement.style.display = "none";
            WeekReportElement.style.display = "table";
            MonthReportElement.style.display = "none";
        } else {
            WeekChartElement.style.display = "none";
            MonthChartElement.style.display = "flex";
            WeekReportElement.style.display = "none";
            MonthReportElement.style.display = "table";
        }
    }

    var weeklyLeadOptions = {
        chart: {
            type: 'donut'
        },
        series: [@WeeklyDataByStatus?.Active.Count(), @WeeklyDataByStatus?.Passive.Count(), @WeeklyDataByStatus?.Lost.Count(), @WeeklyDataByStatus?.Completed.Count()],
        labels: ['Active', 'Passive', 'Lost', 'Complete'],
        dataLabels: {
            enabled: true,
            formatter: function (val) {
                return val + "%"
            },
        },
        plotOptions: {
            pie: {
                donut: {
                    size: '50%'
                }
            }
        },
        legend: {
            position: 'bottom',
            horizontalAlign: 'center',
            offsetX: 40
        },
        title: {
            text: 'Past 7-Days Leads Status Report'
        },
    }
    var leadsStatusChart = new ApexCharts(document.querySelector("#leadsStatusChart"), weeklyLeadOptions);
    leadsStatusChart.render();

    var monthlyLeadOptions = {
        chart: {
            type: 'donut'
        },
        series: [@MonthlyDataByStatus?.Active.Count(), @MonthlyDataByStatus?.Passive.Count(), @MonthlyDataByStatus?.Lost.Count(), @MonthlyDataByStatus?.Completed.Count()],
        labels: ['Active', 'Passive', 'Lost', 'Complete'],
        dataLabels: {
            enabled: true,
            formatter: function (val) {
                return val + "%"
            },
        },
        plotOptions: {
            pie: {
                donut: {
                    size: '50%'
                }
            }
        },
        legend: {
            position: 'bottom',
            horizontalAlign: 'center',
            offsetX: 40
        },
        title: {
            text: 'Current Month Leads Status Report'
        },
    }
    var monthlyStatusChart = new ApexCharts(document.querySelector("#monthchart"), monthlyLeadOptions);
    monthlyStatusChart.render();
</script>
