@page "/"
@model IndexModel

<head>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<div class="text-center">
    <h1 class="fw-bolder">Admin Dashboard,</h1>
    @* 
        learn: render component in .cshtml file, given below
    *@
    <component type="typeof(Charts)" render-mode="ServerPrerendered" />

</div>

@{
    ViewData["Title"] = "Home page";
}
