@page "/"
@model MultiStepForm

@{
    ViewData["Title"] = "Multi-Step Form";
}

<head>
    <link rel="stylesheet" href="~/css/Shubh.css" />
    <script src="~/js/MultiStepForm.js"></script>
</head>


<div class="smd-heading-div">
    <h4>Generate New Lead</h4>
</div>
<div class="form-container">
    <form id="leadForm" asp-page-handler="SubmitForm" method="post">
        <!-- Step 2: Hospital fields -->
        <div class="step active" id="step1">
            <legend class="fw-bolder">Hospital Details</legend>
            <div class="form-check">
                <input class="form-check-input" asp-for="Lead.CustomerDetails.CustomerType" type="radio" value="Hospital">
                <label class="form-check-label" asp-for="Lead.CustomerDetails.CustomerType">
                    Hospital
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="Lead.CustomerDetails.CustomerType" type="radio" value="Diagnostic Center" checked>
                <label class="form-check-label" asp-for="Lead.CustomerDetails.CustomerType">
                    Diagnostic Center
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Lead.CustomerDetails.HospitalDetails.Name">Customer Name</label>
                <input asp-for="Lead.CustomerDetails.HospitalDetails.Name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Choose Type:</label>
                <select id="chooseType" class="form-select" onchange="showFields()">
                    <option value="Default" selected>-- Select --</option>
                    <option value="Owner">Owner</option>
                    <option value="Purchase Head">Purchase Head</option>
                    <option value="Bio Medical">Bio Medical</option>
                </select>
            </div>

            <div id="purchaseHeadFields" style="display: none;background:#eeecec; padding:10px;">
                <div class="form-group">
                    <label asp-for="Lead.CustomerDetails.HospitalDetails.PurchaseHeadName">Name:</label>
                    <input asp-for="Lead.CustomerDetails.HospitalDetails.PurchaseHeadName" type="text" id="purchaseHeadName" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Lead.CustomerDetails.HospitalDetails.PurchaseHeadPhone">Phone:</label>
                    <input asp-for="Lead.CustomerDetails.HospitalDetails.PurchaseHeadPhone" type="text" id="purchaseHeadPhone" class="form-control">
                </div>
            </div>

            <div id="bioMedicalFields" style="display: none;background:#eeecec; padding:10px;">
                <div class="form-group">
                    <label asp-for="Lead.CustomerDetails.HospitalDetails.BioMedicalName">Name:</label>
                    <input asp-for="Lead.CustomerDetails.HospitalDetails.BioMedicalName" type="text" id="bioMedicalName" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Lead.CustomerDetails.HospitalDetails.BioMedicalPhone">Phone:</label>
                    <input asp-for="Lead.CustomerDetails.HospitalDetails.BioMedicalPhone" type="text" id="bioMedicalPhone" class="form-control">
                </div>
            </div>

            <div id="ownerFields" style="display: none;background:#eeecec; padding:10px;">
                <div class="form-group">
                    <label asp-for="Lead.CustomerDetails.HospitalDetails.OwnerName">Name:</label>
                    <input asp-for="Lead.CustomerDetails.HospitalDetails.OwnerName" type="text" id="ownerName" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Lead.CustomerDetails.HospitalDetails.OwnerPhone">Phone:</label>
                    <input asp-for="Lead.CustomerDetails.HospitalDetails.OwnerPhone" type="text" id="ownerPhone" class="form-control">
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Lead.CustomerDetails.HospitalDetails.Email">Email</label>
                <input asp-for="Lead.CustomerDetails.HospitalDetails.Email" id="email" type="email" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Lead.CustomerDetails.HospitalDetails.AddressLine1">Address Line 1</label>
                <input asp-for="Lead.CustomerDetails.HospitalDetails.AddressLine1" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Lead.CustomerDetails.HospitalDetails.AddressLine2">Address Line 2</label>
                <input asp-for="Lead.CustomerDetails.HospitalDetails.AddressLine2" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Lead.CustomerDetails.HospitalDetails.Country">Country</label>
                <input asp-for="Lead.CustomerDetails.HospitalDetails.Country" type="text" class="form-control" value="India" disabled>
            </div>

            <div class="form-group">
                <label asp-for="Lead.CustomerDetails.HospitalDetails.State">State</label>
                <input asp-for="Lead.CustomerDetails.HospitalDetails.State" type="text" class="form-control" value="Chhattisgarh" disabled>
            </div>

            <div class="form-group">
                <label asp-for="Lead.CustomerDetails.HospitalDetails.City">Select City:</label>
                <select id="citySelect" asp-for="Lead.CustomerDetails.HospitalDetails.City" class="form-control" asp-items="@(new SelectList(Model.Cities, "CityName", "CityName"))">
                    <option value="">-- Select a City --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Lead.CustomerDetails.HospitalDetails.PinCode">PinCode</label>
                <input asp-for="Lead.CustomerDetails.HospitalDetails.PinCode" type="text" id="pincode" class="form-control" disabled>
            </div>
            <script id="cities-data" type="application/json">
                @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Cities))
            </script>

            <div class="d-flex" style="column-gap: 10px;">
                <div class="form-group">
                    <button type="button" class="btn btn-secondary btn-prev">Back</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-next">Next</button>
                </div>
            </div>
        </div>

        <!-- Step 3: Docter fields -->
        <div class="step" id="step2">
            <legend class="fw-bolder">Doctor Details</legend>
            <div class="form-group">
                <label asp-for="Lead.CustomerDetails.DoctorDetails.Name">Doctor Name</label>
                <input asp-for="Lead.CustomerDetails.DoctorDetails.Name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Lead.CustomerDetails.DoctorDetails.Email">Doctor Email</label>
                <input asp-for="Lead.CustomerDetails.DoctorDetails.Email" type="email" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Lead.CustomerDetails.DoctorDetails.Phone">Doctor Phone No.</label>
                <input asp-for="Lead.CustomerDetails.DoctorDetails.Phone" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Lead.CustomerDetails.DoctorDetails.Specialization">Doctor Specialization</label>
                <select id="Specialization" asp-for="Lead.CustomerDetails.DoctorDetails.Specialization" class="form-select">
                    <option class="form-option" selected>-- Select Specialization --</option>
                    <option class="form-option" value="Cardiologist">Cardiologist</option>
                    <option class="form-option" value="Radiologist">Radiologist</option>
                    <option class="form-option" value="Obs/Gyn">Obs/Gyn</option>
                    <option class="form-option" value="Neurologist">Neurologist</option>
                    <option class="form-option" value="Gastroenterologist">Gastroenterologist</option>
                    <option class="form-option" value="General Surgen">General Surgen</option>
                    <option class="form-option" value="Physician">Physician</option>
                    <option class="form-option" value="other">Other</option>
                </select>
                <div id="add-input-spec" style="margin-top: 10px;">
                    <input asp-for="Lead.CustomerDetails.DoctorDetails.Specialization" type="text" id="otherSpecializationInput" style="display: none;" placeholder="Additional Specialization">
                </div>
            </div>
            <div class="d-flex" style="column-gap: 10px;">
                <div class="form-group">
                    <button type="button" class="btn btn-secondary btn-prev">Back</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-next">Next</button>
                </div>
            </div>
        </div>

        <!-- Step 4: Remaining Lead fields -->
        <div class="step" id="step3">
            <legend class="fw-bolder">Additional Details</legend>
            <input type="hidden" name="Id" value="00000000-0000-0000-0000-000000000000" />
            <div class="form-group">
                <label asp-for="Lead.Type">Lead Type:</label>
                <select asp-for="Lead.Type" class="form-select">
                    <option class="form-option" selected>-- Select Type --</option>
                    <option class="form-option" value="Hot">Hot</option>
                    <option class="form-option" value="Mild">Mild</option>
                    <option class="form-option" value="Cold">Cold</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Lead.Budget">Budget: <sup>(in Lac)</sup></label>
                <input type="text" class="form-control" id="budget" asp-for="Lead.Budget">
            </div>
            <div class="form-group">
                <label asp-for="Lead.ClosurePlan">Closure Plan</label>
                <select asp-for="Lead.ClosurePlan" class="form-select">
                    <option class="form-option" selected>-- Select Plan --</option>
                    <option class="form-option" value="<1 Month">&lt;1 month</option>
                    <option class="form-option" value="2-3 Months">2-3 Months</option>
                    <option class="form-option" value="6-8 Months">6-8 Months</option>
                    <option class="form-option" value=">1 Year">&gt;1 Year</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Lead.Requirements">Requirements</label>
                <select asp-for="Lead.Requirements" id="requirementsDropdown" class="form-select">
                    <option class="form-option" selected>-- Select Requirement --</option>
                    <option class="form-option" value="Ultrasound">Ultrasound</option>
                    <option class="form-option" value="other">Other</option>
                </select>
                <div id="add-input-req" style="margin-top: 10px;">
                    <input asp-for="Lead.Requirements" type="text" id="otherRequirementsInput" style="display: none;" placeholder="Enter other requirement">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Lead.ExistingMachines">Existing Machines</label>
                <input asp-for="Lead.ExistingMachines" type="text" class="form-control">
            </div>
            <!-- #region Competitor -->
            <div class="form-group">
                <label asp-for="Lead.Competitor">Any Competitor?</label><br>
                <select asp-for="Lead.Competitor" id="competitorDropdown" class="form-control">
                    <option value="@true">Yes</option>
                    <option value="@false" selected>No</option>
                </select>
            </div>
            <div id="competitorContainer" style="display: none;background:#eeecec; padding:10px;">
                <div id="competitorFields">
                    <div class="form-group">
                        <label asp-for="Lead.CompetitorName">Competitor Name</label>
                        <input asp-for="Lead.CompetitorName" type="text" class="form-control" id="competitorName">
                    </div>
                    <div class="form-group">
                        <label asp-for="Lead.CompetitorModel">Competitor Model</label>
                        <input asp-for="Lead.CompetitorModel" type="text" class="form-control" id="competitorModel">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary mt-3" id="addCompetitorBtn">Add More Competitor</button>
                </div>
            </div>

            <!-- #endregion -->
            <div class="form-group">
                <label asp-for="Lead.Remarks">Remark</label>
                <input asp-for="Lead.Remarks" type="text" class="form-control">
            </div>
            <div class="d-flex" style="column-gap: 10px;">
                <div class="form-group">
                    <button type="button" class="btn btn-secondary btn-prev">Back</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>