@page "/se"
@model Softmad.LeadGeneration.Pages.SearchModel
@{
}
<form>
    <p>
        <label>Search Name: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Search" />
    </p>
</form>