html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-center {
    text-align: center;
}

.fw-bolder {
    font-weight: bolder;
}

.btn-primary {
    background-color: black !important;
    border: 2px solid black !important;
}

.btn-secondary {
    background-color: white !important;
    color: black !important;
    border: 2px solid black !important;
}

.smad-border 
{
    border: 2px solid black !important;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .text-center {
        padding: 20px;
    }
}

.other-input {
    padding: 2px;
}

